/**********************TAG STYLES**********************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  color: #112D4E;
}

h1 {
  font-size: 3rem;
  margin: 50px auto 0 auto;
  font-family: 'Bad Script', cursive;
  color: #112D4E;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #112D4E;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #112D4E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-style: dotted none none;
  border-color: #DBE2EF;
  border-width: 8px;
  width: 5%;
  margin: 100px auto;
}

a {
  text-decoration: none;
  color: #112D4E;
}

a:hover {
  color: #3F72AF;
}

p {
  line-height: 2;
}

/**********************CLASS STYLES**********************/
.top_container {
  background-color: #F9F7F7;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.microfab-img {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.prog-img {
  width: 15%;
  float: right;
  margin-left: 30px;
}

.bottom-container {
  background-color: #DBE2EF;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 70px;
}

.footer-link {
  text-decoration: none;
  color: #F9F7F7;
  font-weight: bolder;
  font-size: 1.3rem;
  margin-left: 70px;
}

.footer-link:hover {
  color: #112D4E;
}

.copyright-text {
  font-size: 0.75rem;
  margin-top: 40px;
}

.contact-text {
  margin-bottom: 70px;
}

.middle-container {
  margin: 100px 0;
}

.intro-text {
  width: 50%;
  margin: 0 auto;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Work Sans';
  color: #F9F7F7;
  font-size: 20px;
  background: #112D4E;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background: #DBE2EF;
  text-decoration: none;
  font-weight: bold;
}
